<div class="recipe-container" id="<%- data.id %>">
    <img class="recipe-photo" src=<% if (data.image) {%> 
            "data:image/jpeg;base64,<%- data.image.toString("base64") -%>"
        <%} else {%>
            "images/placeholder.png"
        <% } %>
        alt="">
    <div class="recipe-data">
        <p><b><%- data.title -%></b></p>
        <p><%- data.description -%></p>
    </div>
</div>

